# General Python Ignore Patterns
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.log
*.db
*.sqlite3
*.sqlite

# Virtual Environments
venv/
.venv/
env/
.env/

# Python Project Metadata
.tox/
.nox/
.coverage
*.coverage
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# Node.js/Next.js Ignore Patterns
node_modules/
.next/
.next/cache/
.next/static/
.next/server/
out/

# Lock Files
package-lock.json
yarn.lock
.pnpm/
.yarn/
.pnp.*

# Environment Files
.env
backend/.secrets
.env.local
.env.development.local
.env.production.local
.env.test.local
.env.*

# Editor and IDE Files
.vscode/
.idea/
*.iml

# OS-Specific Files
.DS_Store
Thumbs.db

# Temporary or Backup Files
*.swp
*.swo
*.bak
*.tmp
*.pid
*.seed

# Additional
backend/.DS_Store
.aider*
images/
backend/src/includes/__pycache__/mytypes.cpython-311.pyc
backend/src/includes/__pycache__/utils.cpython-311.pyc
backend/src/includes/__pycache__/mytypes.cpython-311.pyc
backend/data/missingdates.txt
